<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
    <%-  include('./partials/head.ejs')%>
<!-- HEAD -->

<body>
<!-- HEADER -->
    <%-  include('./partials/header.ejs')%>
<!-- HEADER -->
        
    <main>
        <section>

        </section>
    </main>

<!-- FOOTER -->
    <%-  include('./partials/footer.ejs')%>
<!-- FOOTER -->
</body>
</html>